{% extends "base.html" %}

{% block content %}
<h1 style="font-size:300%;" align="center"><b>Наши педагоги</b></h1>
<div class="ped">
<h1 style="font-size:280%" align="center">Салахова Людмила Максимовна</h1>
<h1 style="font-size:200%;" align="center"><b>Руководитель студии, педагог по вокалу.</b></h1>
    <img class="photo" height="350" width="350"
         src="{{url_for('static', filename='img/lm.jpg')}}"
         alt="здесь должна была быть картинка, но не нашлась">
<h3>Долгие годы учёбы: Училище культуры, Институт педагогики, Психолог инклюзивного образования, Магистратура на факультете обществознания в общественном образования
    и все с отличием 🟥</h3>
<h3>Сейчас обучается в аспирантуре🎓</h3>
<h3>В профессии педагога с 2009 года 🎶</h3>
<h3>10 лет шла к тому чтобы открыть свою студию🎼</h3>
<h3>Команду набирала по своему духу.✍</h3>
<h3>Эстрадный, академический, джазовый, блюзовый, народный вокал.</h3>
<h3>Чутко относится к ученикам, раскрывая способности каждого. Помогает раскрыть не только свой творческий потенциал,
    но и самого себя. С учениками работает по разработанной индивидуальной программе, учитывая предпочтения каждого.
    Одинаково хорошо работает как с русскоязычным, так и с иностранным материалом.</h3>
</div>
<div class="ped">
<h1 style="font-size:280%;" align="center">Мишина Татьяна Александровна</h1>
<h1 style="font-size:200%;" align="center"><b>Педагог по вокалу.</b></h1>
    <img class="photo" height="350" width="270"
         src="{{url_for('static', filename='img/ta.jpg')}}"
         alt="здесь должна была быть картинка, но не нашлась">
<h3>Выпускница колледжа культуры и искусств - артист, педагог по классу вокала🎙</h3>
<h3>Академический, эстрадный, народный вокал.</h3>
<h3>С помощью различных проверенных методик формирует природное звучание голоса как у детей, так и у взрослых.
    Она позволяет воспитать правильное и свободное звукоизвлечение.
    Умеет найти подход к любому человеку. Внимательно отслеживает процесс постановки и развития голоса у каждого ученика.</h3>
</div>
<div class="ped">
<h1 style="font-size:280%;" align="center">Гаврилова Ирина Владимировна</h1>
<h1 style="font-size:200%;" align="center"><b>Педагог по актерскому мастерству.</b></h1>
    <img class="photo" height="350" width="520"
         src="{{url_for('static', filename='img/ir.jpg')}}"
         alt="здесь должна была быть картинка, но не нашлась">
<h3>Окончила колледж культуры и искусств - актерское искусство🎭</h3>
<h3>Режиссёр-постановщик номеров.</h3>
<h3>Работает над правильной певческой артикуляцией и дикцией. Учит выражать и передавать свои эмоции с помощью музыки.
С радостью поможет разобрать смысловую часть песни и поставить номер. Также благодаря ее занятиям вы избавитесь от внутренних зажимов,
которые часто мешают при выходе на сцену.</h3>
</div>
<div class="ped">
<h1 style="font-size:280%;" align="center">Сыромятникова Алиса Евгеньевна</h1>
<h1 style="font-size:200%;" align="center"><b>Педагог по хореографии.</b></h1>
    <img class="photo" height="350" width="350"
         src="{{url_for('static', filename='img/ae.jpg')}}"
         alt="здесь должна была быть картинка, но не нашлась">
<h3>Окончила колледж культуры и искусств - хореографическое искусство💃</h3>
<h3>Помогает овладеть системой знаний, умений и навыков грамотного хореографического исполнения различных жанров и стилей,
умением подчеркнуть стиль, смысл вокального произведения движениями и сделать номер максимально эффектным.
Обучает навыкам импровизации и умению воспользоваться ими на сцене.</h3>
</div>
{% endblock %}